.App-header {
    background-color: #282c34;
    min-height: 12%;
    /* height: 12vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.NavigationBar {
    background-color: rgb(42,153,136);
    min-width: 100vw;
    min-height: 100%;
    /* padding: 50px;
    margin: 20px; */
    /* font-size: 50px; */
    /* background-attachment: fixed;
    background-position: center; */
  
    /* -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s; */
  }
  
  .BootstrapNav {
    min-height: 100%;
    font-size: calc(10px + 2vmin);
  }
  .WebsiteTitleLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: calc(10px + 2vmin);
  }
  .pictureLogo{
    padding-right: 2%;
  }
  .NavLink{
      display: flex;
      align-items: center;
      padding: 0% 1%;
      border: 2px solid black;
      border-top-style: none;
      border-bottom-style: none;
      border-right-style: none; 
  }
  .searchForm{
    height: 100%;
  }
  #responsive-navbar-nav{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
  .mr-auto{
      margin:0px;
  }
