@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');


.homeBody {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #e0c52b;
    height: 100%;
    background-color: #2A9988;
    width: 50%;
}
.introPara{

    

}
.homePageWrapper{
    background-color: #2A9988;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pictureLogoHome{
    width: 50%;
    height: 50%;
}