@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
.homeBody {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #d6b500;
    height: 30vh;
    margin-top: 50vh;
    margin-left: 50vh;
    background-color: #2A9988;

}