.map-sidebar {
    width: 20vw;
    min-width: 100 px;
    min-height: 50 px;
    margin: "0 auto";
}
.container-fluid{
    min-height: 100%;
    height: 100vh;
}
.row{
    min-height: 100%;
    height: 100vh;
}