h3 {text-align: left;}
h5 {text-align: left; font-family: 'Josefin Sans', sans-serif;}

.OrganizationsBody{
    background-color: #2A9988;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 4vw;
    padding-right: 4vw;
}